.constraints {
  display: flex;
  width: 100%;
  background-color: #d9d9d9;
  font-weight: bold;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  bottom: 0;
}

.contratins__title {
  flex-basis: 15%;
  text-align: left;
}

.contraints__controls{
  display: flex;
  flex: 1;
  text-align: left;
  padding-left: 1rem;
}